* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  transition: .65s;
  color: white;
}

body {
  text-align: center;
  background: linear-gradient(#141e30, #243b55);
  min-height: 98vh;
}

.btn-play, .btn-settings, .btn-play-again, .btn-next, .btn-ranking {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #51FF00;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 40px;
  letter-spacing: 4px;
  border: none;
  margin: 1.2vh 1vw 0;
}

.btn-play:hover,
.btn-settings:hover,
.btn-play-again:hover, 
.btn-next:hover, 
.btn-ranking:hover,
.btn-play:focus, 
.btn-settings:focus, 
.btn-play-again:focus,
.btn-next:focus, 
.btn-ranking:focus {
  background: #CDEF77;
  color: rgb(76, 173, 32);
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px #CDEF77,
              0 0 25px #CDEF77,
              0 0 50px #CDEF77;
}
