.App-logo {
  height: 32vh;
  width: 47vw;
  max-width: 800px;
  pointer-events: none;
  margin-bottom: 6vh;
}

.App-header {
  margin: 2vh auto 0;
  align-items: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.363);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40vw;
  max-width: 768px;
}

.user-box {
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #0F1823 inset !important;
  -webkit-text-fill-color: #E9EFCA !important;
}

.user-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #E9EFCA;
  margin-bottom: 30px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #E9EFCA;
  outline: none;
  background: transparent;
}

.user-box label {
  padding: 10px 0;
  font-size: 16px;
  color: #CDEF77;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:active ~ label{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
