* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.title {
  color: #CDEF77;
  margin: 3vh auto 10vh;
  font-size: 4rem;
}

.profile-area {
  padding: 80px 0;
}

.card {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.363);
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
  min-width: 21vw;
}

.img1 {
  margin-top: 4vh;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.img2 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 10px;
}

.card:hover .img2 {
  border-color: #CDEF77;
  transition: .7s;
}

.main-text {
  padding: 30px 0;
  text-align: center;
  color: #E9EFCA;
}

.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
}

.main-text p {
  font-size: 16px;
  padding: 0 35px;
  margin-bottom: 0;
}

.btn-play-again {
  margin-bottom: 15vh !important;
}